.menu{
    position: absolute;
    z-index: 99;
    padding: 1.5%;
        width: 200px;
        top: -200%;
        left: 20px;
        background: var(--bgMenu);
        backdrop-filter: blur(10px);
        border-radius: 15px;
    transition: 0.3s;
    /* box-shadow: 5px 5px 10px var(--menuShadow1), -1px -1px 10px var(--menuShadow2); */
}

.menu-container{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
/* mba jereo/ovay kely ity ky Fara ah! ↓↓↓ */
    /* box-shadow: 5px 2px 5px var(--boxShadowMenu), -5px -2px 5px var(--boxShadowMenu2); */  
    /* ------------------------------- */
    /* padding: 3% 1.5%; */
}

.menu-container i{
    padding: 10% 5%;
    color: var(--Gray);
    background: transparent;
    cursor: pointer;
}

.menu-container i:hover{
    color: var(--White);
    text-shadow: 1px 1px 5px rgb(146, 77, 77);
}
.menu-container .active{
    color: var(--purple);
}

.hide{
    display: none;
}

.show{
    display: flex;
}
.off{
    display: none;
}


@media screen and (max-width: 720px){
    .off{
        display: block;
    }
    #menu-container{
        display: none;
    }
}