.menu{
    position: absolute;
    z-index: 99;
    padding: 1.5%;
        width: 200px;
        top: -100%;
        left: 20px;
        background: var(--bgMenu);
        border-radius: 0 15px 15px 0;
    transition: 0.3s;
}

.menu-container{
    display: flex;
    flex-direction: column;
    /* background: var(--bgMenu); */
    border-radius: 5px;
    
/* mba jereo/ovay kely ity ky Fara ah! ↓↓↓ */
    /* box-shadow: 5px 2px 5px var(--boxShadowMenu), -5px -2px 5px var(--boxShadowMenu2); */  
    /* ------------------------------- */
    /* padding: 3% 1.5%; */
}

.menu-container i{
    padding: 10% 5%;
    color: var(--Gray);
    background: transparent;
    /* padding: 5px; */
    cursor: pointer;
}

.menu-container i:hover{
    color: var(--purple);
}
.menu-container .active{
    color: var(--purple);
}

.hide{
    display: none;
}

.show{
    display: flex;
}

