.nav-bar{
    position: fixed;
    width: 100%;
    margin: 1% 0;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-content: auto; */
    backdrop-filter: blur(40px);    
}

.nav-container{
    display: flex;
    flex-direction: row;
}

.logo i{
    margin-top: 2%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 26px;
    width: 20%;
    /* padding: 2%; */
}

.logo i, span{
    padding: 2%;
}

#menu-icon{
    z-index: 99;
    margin:0 0 0 15%   ;
}

/* // barre de recherche */

#search-bar:focus {
    outline: none; /* Supprimer le contour de l'élément lorsqu'il est en focus */
}
#search-bar{
    /* position: absolute; */
    top: 0;
    right: 0;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }

.search-container{
    background: lightblue;
}