nav div{
    width: 100%;
}

.nav-bar{
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    backdrop-filter: blur(40px);    
}

.nav-container{
    display: flex;
    flex-direction: row;
}

.nav-container div{
    margin: auto;
}

.logo i{
    margin-top: 2%;
}

.logo {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    font-size: 26px;
    width: 20%;
    /* padding: 2%; */
}

.logo i, span{
    padding: 2%;
}

#menu-icon{
    z-index: 99;
    margin:0 0 0 15%   ;
}

/* // barre de recherche */

#search-bar:focus {
    outline: none; /* Supprimer le contour de l'élément lorsqu'il est en focus */
}

#search-bar{
    /* position: absolute; */
    top: 0;
    right: 0;
    cursor: text;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: right;
}

.search ,.fa-search {
    background: var(--couleurBarreRecherche);
    padding: 7px;
    border: none;
    border-radius: 5px;
}

.settings{
    display: flex;
    padding: 20px;
    justify-content: right;
}

.zaza{
    display: none;
    position: absolute;
    left: 0;
    padding: 5px;
    background: var(--White);
    color: var(--Gray);
    border-radius: 0 5px 15px 5px;
}